.main {
  position: relative;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

.whiteboard {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.tools {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}